*{
    padding: 0;
    margin: 0;
}
section{
    height: 100vh;
}
header{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    width: 16%;
    height: 100%;
    text-align:center;
}
header .logo{
    height: 122px;
    width: 122px;
    margin-top: 14px;
    margin-bottom: 10px;
}
ul{
    padding: 0;
    margin: 0;
    width: 69%;
    list-style-type: none;
}
li a {
    width: 100%;
    display: block;
    color: #ffff;
    padding: 30px 30px;
    text-decoration: none;
    font-size: larger;
    font-family: 'Montserrat';
    font-weight: 800;
}  
  li a:hover{
    background-color: #555;
  }
  li a.active {
    background-color: #e05d5d; /* Different background for the active link */
    color: white; /* Text color for the active link */
}

/* Styling for when hovering over the active item */
li a.active:hover {
    background-color: #45a049; /* Background color for hovering over the active link */
}
