*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
}
.logo{
    width: auto;
    height: 60px;
    padding-right: 20px;
}
.schoolname{
    padding-left: 18px;
}
 header h1{
    color: #eb1717;
    font-size: 40px;
 }
 header{
    color: #d2cdcd;
    font-weight: 400;
 }
 header h4{
    font-family: 'Montserrat';
 }
 section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
 }